.side-menu {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.board-container {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
}

.toggle-button {
  font-size: 30px;
}

.board-info {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container h3 {
  margin: 0px;
}

mat-card-content {
  width: 250px;
}


