<div *ngIf="user" class="boards-list-container">
  <h1>Go to board</h1>
  <mat-grid-list gutterSize="10" cols="5" rowHeight="20vw">
    <mat-grid-tile *ngFor="let board of myBoards" appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card [routerLink]="getBoardLink(board)">
        <mat-card-title>{{board.title}}</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24" (click)="showNewBoardDialog()">
      <mat-icon color="primary" aria-hidden="true" aria-label="Create new board">add</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>
</div>
