mat-grid-list {
  width: 70vw;
  max-height: 80vh;
}

mat-grid-tile {
  max-height: 40vh;
}

mat-card {
  height: calc(20vw - 20px);
  width: 100%;
  max-height: 40vh;
}

mat-icon {
  font-size: 5vw;
  width: 5vw;
  height: 5vw;
}

.boards-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 50px;
}

.boards-list-container h1{
  margin-top: 50px;
  margin-bottom: 50px;
}
