mat-card {
  margin-top: 16px;
}
mat-card-content {
  height: calc(100vh - 530px);
  min-height: 180px;
  width: 250px;
  overflow: scroll;
}

.mat-list-base .mat-list-item .mat-list-icon {
  font-size: 48px;
  width: 48px;
  height: 60px;
  padding: 0;
  margin-left: -16px;
  margin-right: -8px;
}

button {
  margin: auto;
}
