<div class="users-list-wrapper">
  <mat-list>
    <mat-list-item>
      <mat-icon color="primary"  matListIcon>account_circle</mat-icon>
      <div matLine> User1 </div>
      <div mat-line> user1@google.com </div> 
    </mat-list-item>
    <mat-list-item >
      <mat-icon color="primary"  matListIcon>account_circle</mat-icon>
      <div matLine> User2 </div>
      <div mat-line> user2@google.com </div> 
    </mat-list-item>
    <mat-list-item>
      <mat-icon color="primary"  matListIcon>account_circle</mat-icon>
      <div matLine> User3 </div>
      <div mat-line> user3@google.com </div> 
    </mat-list-item>
    <mat-list-item>
      <mat-icon color="primary"  matListIcon>account_circle</mat-icon>
      <div matLine> User4 </div>
      <div mat-line> user4@google.com </div> 
    </mat-list-item>
  </mat-list>
</div>
