<!-- Copyright 2020 Google LLC -->
<mat-card class="mat-elevation-z12">
  <mat-card-title> Users </mat-card-title>
  <mat-card-content>
    <mat-list>
      
      <mat-list-item *ngFor="let userWithRole of activeUsers" (click)="openEditUserDialog(userWithRole)"
        matTooltip="Edit user role" matTooltipPosition="right" [matTooltipDisabled]="!canEdit(userWithRole)">
        <mat-icon color="primary" matListIcon>account_circle</mat-icon>
        <div matLine> {{ userWithRole.user.nickname }} </div>
        <div mat-line> 
          {{ userWithRole.user.email }} 
          <p class="mat-small"> 
            {{ userWithRole.role }} <span class="mat-small" style="color:green">ACTIVE</span> 
          </p>
        </div>
        <button mat-icon-button *ngIf="canDelete(userWithRole)" color="primary" (click)="removeUser(userWithRole, $event)"
          aria-label="Open add user dialog">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item *ngFor="let userWithRole of inactiveUsers" (click)="openEditUserDialog(userWithRole)"
        matTooltip="Edit user role" matTooltipPosition="right" [matTooltipDisabled]="!canEdit(userWithRole)">
        <mat-icon color="primary" matListIcon>account_circle</mat-icon>
        <div matLine> {{ userWithRole.user.nickname }} </div>
        <div mat-line> 
          {{ userWithRole.user.email }} 
          <p class="mat-small"> 
            {{ userWithRole.role }}
          </p>
        </div>
        <button mat-icon-button *ngIf="canDelete(userWithRole)" color="primary" (click)="removeUser(userWithRole, $event)"
          aria-label="Open add user dialog">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <button *ngIf="['ADMIN','OWNER'].includes(currentUserRole)" mat-mini-fab color="primary"
          (click)='openAddUserDialog()' aria-label="Open add user dialog">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>
