<div class="flex-container">
  <h3>{{boardTitle}}</h3>
  <div class="board-wrapper" [style]="getBoardWrapperStyle()">
    <div class="board" [style]="getBoardWidth()">
      <div *ngFor="let y of board.rows | rangeLoop">
        <div *ngFor="let x of board.cols | rangeLoop" class="new-note-container" [style]="getSlotStyle(x, y)">
          <button mat-icon-button aria-label="Create new note" (click)="openNewNoteDialog(x, y)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </div>
      </div>
      <div *ngFor="let note of board.notes; let i = index">
        <div cdkDragBoundary=".board" (cdkDragStarted)="onNoteDragStart($event)" (cdkDragEnded)="onNoteDrop($event, note)"
          cdkDrag class="mat-card-wrapper" [style]="getNoteStyle(note)">
          <mat-card [style]="'background-color:' + note.color">
            <mat-card-content>
              <div class="card-header">
                <p>{{note.creator}}</p>
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
              </div>
              <p>{{note.content}}</p>
              <p>{{note.creationDate}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
