.board-wrapper {
  border: 1px solid black;
  border-radius: 0px 0px 5px 0px;
  position: relative;
  overflow: scroll;
  top: 40px;
  left: 80px;
}

.board {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.mat-card-wrapper, .new-note-container {
  height: 250px;
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.new-note-container {
  z-index: 2;
}

.mat-card {
  height: 244px;
  width: 194px;
  padding: 0px;
}

.drag-handle {
  cursor: move;
}

.mat-card-content {
  padding: 0px 0px 0px 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - 40px);
  height: 100%;
}

.note-button {
  height: 24px;
  width: 24px;
}

.note-icon {
  vertical-align: unset;
}

.card-header-buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.note-image {
  max-width: 184px;
}

mat-card-content {
  overflow-y: scroll;
  height: 240px;
}

.rc-wrapper {
  position: relative;
}

.c-wrapper {
  background-color: aquamarine;
  position: absolute;
}

.horizontal-scroll {
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  height: 40px;
  left: 80px;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  border-radius: 5px 5px 0px 0px;
}

.r-wrapper {
  width: 80px;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  border-radius: 5px 0px 0px 5px;
  left: 0px;
  top: 40px;
  position: absolute;
  overflow-y: scroll;
}

.column-name {
  height: 25px;
  display: inline-block;
  background-color: orange;
  border-radius: 5px;
  margin: 3px 3px 0px 3px;
  padding: 3px;
}

.cn-flex-container {
  display: flex;
  justify-content: space-between;
}

.mat-icon-button {
  line-height: 30px;
}
