.board-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  width: 1000px;
  height: 700px;
  overflow: scroll;
  position: absolute;
}

.board {
  position: absolute;
  background-color:  #f2f2f2;
  border-radius: 5px;
}

.mat-card-wrapper {
  height: 250px;
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card {
  height: 244px;
  width: 194px;
  padding: 0px;
}

.drag-handle {
  cursor: move;
}

.mat-card-content {
  padding: 0px 0px 0px 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

