.welcome-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  margin-bottom: 25px;
}

.login-button {
  padding: 0;
  margin-top: 25px;
}
