<div class="accessible-board-container">
  <h1>Go to board</h1>
  <mat-grid-list gutterSize="10" cols="5" rowHeight="20vw">
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card>
        <mat-card-title>Board 1</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card>
        <mat-card-title>Board 2</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card>
        <mat-card-title>Board 3</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card>
        <mat-card-title>Board 4</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card>
        <mat-card-title>Board 5</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-card>
        <mat-card-title>Board 6</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile appElevateOnHover [defaultElevation]="2" [raisedElevation]="24">
      <mat-icon color="primary" aria-hidden="true" aria-label="Create new board">add</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>
</div>
